@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* Add your own colors here */
:root {
  --dark-green: #29443D;
  --cream: #F5F0DF;
  --light-green: #BFD68A;
  --gold: #D5B63F;
  --white: #ffffff;
  --gray: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: var(--cream);
    font-family: "Barlow", sans-serif;
    color: var(--gray);
}

.app-container{
    width:90%;
    margin:auto;
    padding:40px 0;
}

/*Page header CSS */
.page-title{

    font-family:"Bebas Neue", sans-serif;
    font-size:4rem;

    color:var(--dark-green);

    text-align:center;

    margin-bottom:40px;

    letter-spacing:3px;
}

.page-header{

    font-family:"Bebas Neue", sans-serif;
    font-size:2rem;

    color:var(--dark-green);

    text-align:left;

    margin-bottom:40px;

    letter-spacing:3px;
}

/*Search bar */
.search-bar{

    display:flex;
    justify-content:right;

    margin-bottom:40px;
}

.search-bar input{

    width:450px;

    padding:15px;

    border:none;

    border-radius:8px;

    font-size:1rem;

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.book-grid{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}